<p>page-voyage works!</p>
<!--Commun a toutes les pages -->
<div class="commonFooter ">
    <div class="elegance ">
        <img class="imageElegance " src="./assets/images/elegance.png " />
    </div>
    <footer class="page-footer font-small mdb-color pt-4 ">
        <div class="container text-center text-md-left ">
            <div class="row d-flex ">
                <div class="col-md-7 col-lg-8 ">
                    <p class="copyright ">© 2020 Copyright:
                        <strong> DressMe</strong>
                    </p>
                </div>
                <div class="col-lg-2 ">
                    <div class="tcontactus ">
                        <a class="contactus " [routerLink]=" [ 'contact'] ">Nous contacter</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>