<div class="header">
    <nav class="navbar navbar-expand-lg navbar-custom ">
        <div class="container-fluid ">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="col-xs-offset-1 col-xs-2">
                    <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink="">
                        <img class="iconAcceuil" src="./assets/icons/acceuilIcon.png " routerLink="" />
                        <br> Accueil
                    </a>
                </div>
                <div class="col-xs-2 ">
                    <a class="nav-item nav-link " [routerLinkActive]="['active']" routerLink="monDressing">
                        <img class="iconDressing" src="./assets/icons/dressingIcon.png " routerLink="monDressing" />
                        <br>Dressing
                    </a>
                </div>
                <div class="col-xs-2 ">
                    <a class="nav-item nav-link " [routerLinkActive]="['active']" routerLink="maTenue">
                        <img class="iconTenue " src="./assets/icons/tenueIcon.png" routerLink="maTenue" />
                        <br>Tenue
                    </a>
                </div>
                <div class=" col-xs-2 ">
                    <a class="nav-item nav-link " [routerLinkActive]="['active']" routerLink="voyage">
                        <img class="iconVoyage " src="./assets/icons/voyageIcon.png " routerLink="voyage" />
                        <br> Voyage
                    </a>
                </div>
                <div class="col-xs-2 ">
                    <a class="nav-item nav-link " [routerLinkActive]="['active']" routerLink="profil">
                        <img class="iconProfil " src="./assets/icons/profilIcon.png " routerLink="profil" />
                        <br>Profil
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="threeLinesContainer">
        <div class="threeLinesMenu ">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <div class="card ">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">
                    <a class="links" routerLink="parametres">Paramètres</a>
                </li>
                <li class="list-group-item">
                    <a class="links" routerLink="monCompte">Mon compte</a>
                </li>
                <li class="list-group-item">
                    <a class="links" routerLink="authentification">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</div>