<div class=" contenu ">
    <!--Navbar-->
    <div class="emptyrow">
        <!-- Three lines menu-->
        <!-- Liste icones-->
        <div class="card ">
            <ul class="list-group list-group-horizontal-md" routerLink="">
                <li class="list-group-item">
                    <img class="icone" src="./assets/icons/acceuilIcon.png " />
                    <a class="links">
               ACCEUIL
            </a>
                </li>
                <li class="list-group-item" routerLink="../monDressing">
                    <img class="icone" src="./assets/icons/dressingIcon.png " />
                    <a class="links">DRESSING
            </a>
                </li>
                <li class="list-group-item" routerLink="../maTenue">
                    <img class="icone " src="./assets/icons/tenueIcon.png" />
                    <a class="links">TENUE
            </a>
                </li>
                <li class="list-group-item" routerLink="../voyage">
                    <img class="icone " src="./assets/icons/voyageIcon.png " />
                    <a class="links">VOYAGE
            </a>
                </li>
                <li class="list-group-item" routerLink="../profil">
                    <img class="icone " src="./assets/icons/profilIcon.png " />
                    <a class="links">PROFIL
            </a>
                </li>
            </ul>
        </div>
        <!-- Icones settings et deconnexion-->
        <div class="rightIcons">
            <a routerLink="monCompte">
                <img class="iconeHeader" src="./assets/icons/SettingsHeader.png " />
            </a>
            <a routerLink="parametres">
                <img class="iconeHeader" src="./assets/icons/Login.png " />
            </a>
        </div>
    </div>

    <div class="colvide">
    </div>
    <!--Fin navbar-->
    <!--Titre de la page-->

    <div class="titre">
        <h1>Ma tenue</h1>
    </div>

    <div id="break"></div>

    <!--Sous titre - Choix -->

    <div class="sousTitre">
        <p *ngIf="next ===0">CHOISI UN STYLE :</p>
        <p *ngIf="next ===1">C'EST POUR QUEL JOUR ?</p>
        <p *ngIf="next ===2 ||next===3">C'EST POUR QUAND ? </p>
        <p *ngIf="next ===4">JE TE PROPOSE CETTE TENUE :</p>

    </div>
    <div id="break"></div>

    <div class="colAroundPhotospace2 ">
        <img *ngIf="showArrowLeft" class="flecheLeft " (click)="clickArrowLeft() " src="./assets/images/flecheTenue.png " />
    </div>

    <!--Choix de la tenue-->

    <ng-container *ngIf="next === 0">
        <div class="photoSpace2">
            <div class="lesbuttons ">
                <div id="break"></div>
                <!--<a class="btn " [ngStyle]="{'color' : tenueType === 1 ? 'white' : 'black', 'background-color': tenueType === 1 ? '#00acc1' : ' linear-gradient(rgb(253, 251, 251), rgb(224, 223, 223), rgb(253, 253, 253))'}" (mouseover)="imToShow=1 " (mouseout)="imToShow=0 "
                    (click)="madeMyChoice(1) ">CASUAL</a>-->
                <a [ngClass]="{'btnOfChoice' :  tenueType === 1, 'btn' :  tenueType != 1}" (mouseover)="imToShow=1 " (mouseout)="imToShow=0 " (click)="madeMyChoice(1) ">CASUAL</a>
                <a class="btn " (mouseover)="imToShow=2 " (mouseout)="imToShow=0 " (click)="madeMyChoice(2) ">BUSINESS</a>
                <a class="btn " (mouseover)="imToShow=3 " (mouseout)="imToShow=0 " (click)=" madeMyChoice(3) ">SPORT</a>
                <a class="btn " (mouseover)="imToShow=4 " (mouseout)="imToShow=0 " (click)=" madeMyChoice(4) ">SOIREE</a>
            </div>
            <div id="break "></div>
            <!--Les images en fonction de ce qu'on choisi comme type de tenue-->
            <ng-container *ngIf="imgChoice !=0 ">
                <div class="imgChange ">
                    <img class=" " *ngIf="imgChoice==1 " src="./assets/images/tenue1.png " />
                    <img class=" " *ngIf="imgChoice==2 " src="./assets/images/tenue2.png " />
                    <img class=" " *ngIf="imgChoice==3 " src="./assets/images/tenue3.png " />
                    <img class=" " *ngIf="imgChoice==4 " src="./assets/images/tenue4.png " />
                </div>
            </ng-container>
            <ng-container *ngIf="imgChoice==0 ">
                <div class="imgChange ">
                    <img class=" " *ngIf="imToShow==0 " src="./assets/images/tenue0.png " />
                    <img class=" " *ngIf="imToShow==1 " src="./assets/images/tenue1.png " />
                    <img class=" " *ngIf="imToShow==2 " src="./assets/images/tenue2.png " />
                    <img class=" " *ngIf="imToShow==3 " src="./assets/images/tenue3.png " />
                    <img class=" " *ngIf="imToShow==4 " src="./assets/images/tenue4.png " />
                </div>
            </ng-container>
        </div>
    </ng-container>

    <!--Choix du jour-->

    <ng-container *ngIf="next===1 ">

        <div class="photoSpace2 ">
            <div class="lesbuttons ">
                <a class="btn " (click)="next=2 ; jour=1 ">AUJOURDHUI</a>
                <a class="btn " (click)="next=2 ; jour=2 ">DEMAIN</a>
                <a class="btn " (click)="next=2 ; jour=3 ">AUTRE</a>
            </div>
            <div id="break "></div>

            <!--Les images en fonction de ce qu'on choisi comme type de tenue-->
            <div class="imgChange ">
                <img class=" " *ngIf="imgChoice==1 " src="./assets/images/tenue1.png " />
                <img class=" " *ngIf="imgChoice==2 " src="./assets/images/tenue2.png " />
                <img class=" " *ngIf="imgChoice==3 " src="./assets/images/tenue3.png " />
                <img class=" " *ngIf="imgChoice==4 " src="./assets/images/tenue4.png " />
            </div>
        </div>
    </ng-container>

    <!--Choix du temps-->
    <ng-container *ngIf="next===2 || next === 3">
        <div class="photoSpace2 ">
            <div class="lesbuttons ">
                <!--<a class="btn " (click)="next=3; periode=1 " [ngStyle]="{'color' : periode === 1 ? 'white' : 'black', 'background-color': periode === 1 ? '#00acc1' : ' linear-gradient(rgb(253, 251, 251), rgb(224, 223, 223), rgb(253, 253, 253))'}">MATIN </a>
-->
                <a (click)="next=3; periode=1 " [ngClass]="{'btnOfChoice' :  periode === 1, 'btn' :  periode != 1}">MATIN </a>
                <a class="btn " (click)="next=3; periode=2 " [ngClass]="{'btnOfChoice' :  periode === 2, 'btn' :  periode != 2}">APREM</a>
                <a class="btn " (click)="next=3; periode=3 " [ngClass]="{'btnOfChoice' :  periode === 3, 'btn' :  periode != 3}">SOIR</a>
            </div>
            <div id="break "></div>
            <!--Les images en fonction de ce qu'on choisi comme type de tenue-->
            <div class="imgChange">
                <img class=" " *ngIf="imgChoice==1 " src="./assets/images/tenue1.png " />
                <img class=" " *ngIf="imgChoice==2 " src="./assets/images/tenue2.png " />
                <img class=" " *ngIf="imgChoice==3 " src="./assets/images/tenue3.png " />
                <img class=" " *ngIf="imgChoice==4 " src="./assets/images/tenue4.png " />
            </div>
        </div>
    </ng-container>

    <!-- Tenue proposée -->
    <ng-container *ngIf="next===4 && tenue!=null">
        <div class="photoSpace2 ">
            <app-haut class=" photoArticle " [haut]="tenue.haut"></app-haut>
            <app-bas class=" photoArticleRight " [bas]="tenue.bas"></app-bas>
            <div id="break"></div>
            <app-haut class=" photoArticle " [haut]="tenue.veste"></app-haut>
            <app-bas class=" photoArticleRight "></app-bas>
        </div>
    </ng-container>

    <div class="colAroundPhotospace2 ">
        <!--<img *ngIf="showArrowRight " class="flecheRight " src="./assets/images/flecheTenue.png " (click)=" router.navigate([ '/tenueProposee'])" />-->
        <img *ngIf="next == 3" class="flecheRight " src="./assets/images/flecheTenue.png " (click)="clickArrowRight()" />
        <div class="rightBox" *ngIf="next === 4 ">
            <img class="magicWand " src="./assets/images/dressMe.png " (click)="initTenue()" />
            <a class="autrePopositionText" (click)=" initTenue() ">AUTRE <br> PROPOSITION</a>
        </div>

    </div>


</div>

<!-- Footer 
<div class=" commonFooter ">
    <div class="elegance ">
        <img class="imageElegance " src="./assets/images/elegance.png " />
    </div>
    <footer class="page-footer font-small mdb-color pt-4 ">
        <p class="copyrightText ">© 2020 Copyright
            <strong> DressMe</strong>
        </p>
    </footer>
</div>-->