<div class=" contenu ">
    <!--Navbar-->
    <div class="emptyrow">
        <!-- Three lines menu-->
        <!-- Liste icones-->
        <div class="card ">
            <ul class="list-group list-group-horizontal-md" routerLink="">
                <li class="list-group-item">
                    <img class="icone" src="./assets/icons/acceuilIcon.png " />
                    <a class="links">
                   ACCEUIL
                </a>
                </li>
                <li class="list-group-item" routerLink="../monDressing">
                    <img class="icone" src="./assets/icons/dressingIcon.png " />
                    <a class="links">DRESSING
                </a>
                </li>
                <li class="list-group-item" routerLink="../maTenue">
                    <img class="icone " src="./assets/icons/tenueIcon.png" />
                    <a class="links">TENUE
                </a>
                </li>
                <li class="list-group-item" routerLink="../voyage">
                    <img class="icone " src="./assets/icons/voyageIcon.png " />
                    <a class="links">VOYAGE
                </a>
                </li>
                <li class="list-group-item" routerLink="../profil">
                    <img class="icone " src="./assets/icons/profilIcon.png " />
                    <a class="links">PROFIL
                </a>
                </li>
            </ul>
        </div>
        <!-- Icones settings et deconnexion-->
        <div class="rightIcons">
            <a routerLink="monCompte">
                <img class="iconeHeader" src="./assets/icons/SettingsHeader.png " />
            </a>
            <a routerLink="parametres">
                <img class="iconeHeader" src="./assets/icons/Login.png " />
            </a>
        </div>
    </div>
    <div class="colvide">
    </div>
    <!--Fin navbar-->
    <div class="text1">
        <a [routerLink]="['../monDressing']">
            <small>RETOURNER A MON</small> <br>
            <b>DRESSING</b></a>
        <img class="underText" src="./assets/images/test.png " />
    </div>
    <div class="titre">
        <h1>Mes articles favoris</h1>
    </div>
    <div class="text2">
        <a [routerLink]="['../ajoutArticle']"><b>AJOUTER</b> <br><small>UN ARTICLE</small></a>
        <img class="underTextMirror " src="./assets/images/test.png " />
    </div>
    <div class="colvide"></div>
    <div id="break"></div>
    <!--2nd row-->
    <div class="colvide1">
    </div>
    <div class="filtres">
        <ul>
            <li>
                <a (click)="showImages(0)">TOUT</a>
            </li>
            <li>
                <a (click)="showImages(1)">HAUTS</a>
            </li>
            <li>
                <a (click)="showImages(2)">BAS</a>
            </li>
            <li>
                <a (click)="showImages(3)">CHAUSSURES</a>
            </li>
            <li>
                <a (click)="showImages(4)">ACCCESSOIRES</a>
            </li>
        </ul>
    </div>
    <div class="colvide1"></div>
    <div id="break"></div>
    <!--3rd row-->
    <div class="colvide2">
        <img *ngIf="showArrowLeft() " class="flechesLeft " (click)="clickArrowLeft()" src="./assets/images/flecheTenue.png " /> </div>
    <!--Si  on clique sur Tout, hauts ou bas...-->
    <ng-container *ngIf="whatToShow==0 ">
        <ng-container *ngIf="articlesToShow.length!=8">
            <div class="photoSpaceLessThan8 ">
                <ng-container *ngFor="let article of articlesToShow ; let i=index ">
                    <app-article class=" appArticle " [article]="article" *ngIf="i!=3 && i!=7 && i != articlesToShow.length -1"></app-article>
                    <app-article class=" appArticleRight " [article]="article" *ngIf="i===3 || i===7 || i=== articlesToShow.length -1"></app-article>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="articlesToShow.length ==8">
            <div class="photoSpace ">
                <ng-container *ngFor="let article of articlesToShow ; let i=index ">
                    <app-article class=" appArticle " [article]="article" *ngIf="i!=3 && i!=7 && i != articlesToShow.length -1"></app-article>
                    <app-article class=" appArticleRight " [article]="article" *ngIf="i===3 || i===7 || i=== articlesToShow.length -1"></app-article>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="whatToShow==1 ">
        <ng-container *ngIf="hautsToShow.length!=8">
            <div class="photoSpaceLessThan8 ">
                <ng-container *ngFor="let haut of hautsToShow ; let i=index ">
                    <app-haut class=" appArticle " [haut]="haut" *ngIf="i!=3 && i!=7 && i != hautsToShow.length -1"></app-haut>
                    <app-haut class=" appArticleRight " [haut]="haut" *ngIf="i===3 || i===7 || i=== hautsToShow.length -1"></app-haut>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="hautsToShow.length ==8">
            <div class="photoSpace ">
                <ng-container *ngFor="let haut of hautsToShow ; let i=index ">
                    <app-haut class=" appArticle " [haut]="haut" *ngIf="i!=3 && i!=7 && i != hautsToShow.length -1"></app-haut>
                    <app-haut class=" appArticleRight " [haut]="haut" *ngIf="i===3 || i===7 || i=== hautsToShow.length -1"></app-haut>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="whatToShow==2 ">
        <ng-container *ngIf="basToShow.length!=8">
            <div class="photoSpaceLessThan8 ">
                <ng-container *ngFor="let ba of basToShow ; let i=index ">
                    <app-bas class=" appArticle " [bas]="ba" *ngIf="i!=3 && i!=7 && i != basToShow.length -1"></app-bas>
                    <app-bas class=" appArticleRight " [bas]="ba" *ngIf="i===3 || i===7 || i=== basToShow.length -1"></app-bas>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="basToShow.length ==8">
            <div class="photoSpace ">
                <ng-container *ngFor="let ba of basToShow ; let i=index ">
                    <app-bas class=" appArticle " [bas]="ba" *ngIf="i!=3 && i!=7 && i != basToShow.length -1"></app-bas>
                    <app-bas class=" appArticleRight " [bas]="ba" *ngIf="i===3 || i===7 || i=== basToShow.length -1"></app-bas>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
    <div class="colvide2 "><img *ngIf="showArrowRight()" class="flechesRight " (click)="clickArrowRight() " src="./assets/images/flecheTenue.png " /></div>
    <div id="break "></div>
    <div class="emptyrowBottom"> </div>
</div>