<div class=" contenu ">
    <!--first row-->
    <div class="colvide">
    </div>
    <div class="text1">
        <a [routerLink]="['../monDressing']">
            <small>RETOURNER A MON</small> <br>
            <b>DRESSING</b></a>
    </div>
    <div class="titre">
        <h1>Mes articles favoris</h1>
    </div>
    <div class="text2">
        <a [routerLink]="['../ajoutArticle']"><b>AJOUTER</b> <br><small>UN ARTICLE</small></a>
    </div>
    <div class="colvide"></div>
    <div id="break"></div>
    <!--2nd row-->
    <div class="colvide1">
    </div>
    <div class="filtres">
        <ul>
            <li>
                <a (click)="showImages(0)">TOUT</a>
            </li>
            <li>
                <a (click)="showImages(1)">HAUTS</a>
            </li>
            <li>
                <a (click)="showImages(2)">BAS</a>
            </li>
            <li>
                <a (click)="showImages(3)">CHAUSSURES</a>
            </li>
            <li>
                <a (click)="showImages(4)">ACCCESSOIRES</a>
            </li>
        </ul>
    </div>
    <div class="colvide1"></div>
    <div id="break"></div>
    <!--3rd row-->
    <div class="colvide2">
        <img *ngIf="showArrows() " class="flechesLeft " (click)="clickArrowLeft()" src="./assets/images/fleches.gif " /> </div>
    <!--Si  on clique sur Tout, hauts ou bas...-->
    <ng-container *ngIf="whatToShow==0 ">
        <ng-container *ngIf="articlesToShow.length!=8">
            <div class="photoSpaceLessThan8 ">
                <ng-container *ngFor="let article of articlesToShow ; let i=index ">
                    <app-article class=" appArticle " [article]="article" *ngIf="i!=3 && i!=7 && i != articlesToShow.length -1"></app-article>
                    <app-article class=" appArticleRight " [article]="article" *ngIf="i===3 || i===7 || i=== articlesToShow.length -1"></app-article>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="articlesToShow.length ==8">
            <div class="photoSpace ">
                <ng-container *ngFor="let article of articlesToShow ; let i=index ">
                    <app-article class=" appArticle " [article]="article" *ngIf="i!=3 && i!=7 && i != articlesToShow.length -1"></app-article>
                    <app-article class=" appArticleRight " [article]="article" *ngIf="i===3 || i===7 || i=== articlesToShow.length -1"></app-article>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="whatToShow==1 ">
        <ng-container *ngIf="hautsToShow.length!=8">
            <div class="photoSpaceLessThan8 ">
                <ng-container *ngFor="let haut of hautsToShow ; let i=index ">
                    <app-haut class=" appHaut " [haut]="haut" *ngIf="i!=3 && i!=7 && i != hautsToShow.length -1"></app-haut>
                    <app-haut class=" appHautRight " [haut]="haut" *ngIf="i===3 || i===7 || i=== hautsToShow.length -1"></app-haut>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="hautsToShow.length ==8">
            <div class="photoSpace ">
                <ng-container *ngFor="let haut of hautsToShow ; let i=index ">
                    <app-haut class=" appHaut " [haut]="haut" *ngIf="i!=3 && i!=7 && i != hautsToShow.length -1"></app-haut>
                    <app-haut class=" appHautRight " [haut]="haut" *ngIf="i===3 || i===7 || i=== hautsToShow.length -1"></app-haut>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="whatToShow==2 ">
        <ng-container *ngIf="basToShow.length!=8">
            <div class="photoSpaceLessThan8 ">
                <ng-container *ngFor="let ba of basToShow ; let i=index ">
                    <app-bas class=" appBas " [bas]="ba" *ngIf="i!=3 && i!=7 && i != basToShow.length -1"></app-bas>
                    <app-bas class=" appBasRight " [bas]="ba" *ngIf="i===3 || i===7 || i=== basToShow.length -1"></app-bas>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="basToShow.length ==8">
            <div class="photoSpace ">
                <ng-container *ngFor="let ba of basToShow ; let i=index ">
                    <app-bas class=" appBas " [bas]="ba" *ngIf="i!=3 && i!=7 && i != basToShow.length -1"></app-bas>
                    <app-bas class=" appBasRight " [bas]="ba" *ngIf="i===3 || i===7 || i=== basToShow.length -1"></app-bas>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
    <div class="colvide2 "><img *ngIf="showArrows()" class="flechesRight " (click)="clickArrowRight() " src="./assets/images/fleches.gif " /></div>
</div>

<!--Commun a toutes les pages -->
<div class="commonFooter ">
    <div class="elegance ">
        <img class="imageElegance " src="./assets/images/favorisGif.gif " />
    </div>
    <footer class="page-footer font-small mdb-color pt-4 ">
        <p class="copyrightText ">© 2020 Copyright
            <strong> DressMe</strong>
        </p>
    </footer>
</div>