<div class=" contenu ">
    <!--first row-->
    <div class="colvide">
    </div>
    <div class="text1">
        <a [routerLink]="['../monDressing']">
            <small>RETOURNER A MON</small> <br>
            <b>DRESSING</b></a>
    </div>
    <div class="titre">
        <h1>Mes articles favoris</h1>
    </div>
    <div class="text2">
        <a href="" [routerLink]="['monDressing']"><b>AJOUTER</b> <br><small>UN ARTICLE</small></a>
    </div>
    <div class="colvide"></div>
    <div id="break"></div>
    <!--2nd row-->
    <div class="colvide1">
    </div>
    <div class="filtres">
        <ul>
            <li>
                <a>TOUT</a></li>
            <li>
                <a>HAUTS</a></li>
            <li>
                <a>BAS</a></li>
            <li>
                <a>CHAUSSURES</a>
            </li>
            <li><a>ACCCESSOIRES</a></li>
        </ul>
    </div>
    <div class="colvide1"></div>
    <div id="break"></div>
    <!--3rd row-->
    <div class="colvide2">
        <img class="flechesLeft" src="./assets/images/fleches.gif" /> </div>
    <!--Si  on clique sur hauts -->
    <div class="photoSpace">
        <ng-container class="photoSpace" *ngFor="let haut of hauts ; let i=index">
            <app-haut class=" appHaut " [haut]="haut " *ngIf="i!=3 && i!=7"></app-haut>
            <app-haut class=" appHautRight " [haut]="haut " *ngIf="i===3 || i===7"></app-haut>
        </ng-container>
    </div>
    <!--Si on clique sur Bas -->
    <!--<div class="photoSpace">
        <ng-container class="photoSpace" *ngFor="let ba of bas ; let i=index">
            <app-bas class=" appBas " [bas]="ba" *ngIf="i!=3 && i!=7"></app-bas>
            <app-bas class=" appBasRight " [bas]="ba" *ngIf="i===3 || i===7"></app-bas>
        </ng-container>
    </div>-->
    <!--Si on clique sur tout ?-->
    <div class="colvide2 "><img class="flechesRight " src="./assets/images/fleches.gif " /></div>
</div>


<!--Commun a toutes les pages -->
<div class="commonFooter ">
    <div class="elegance ">
        <img class="imageElegance " src="./assets/images/elegance.png " />
    </div>
    <footer class="page-footer font-small mdb-color pt-4 ">
        <div class="container text-center text-md-left ">
            <div class="row d-flex ">
                <div class="col-md-7 col-lg-8 ">
                    <p class="copyright ">© 2020 Copyright:
                        <strong> DressMe</strong>
                    </p>
                </div>
                <div class="col-lg-2 ">
                    <div class="tcontactus ">
                        <a class="contactus " [routerLink]=" [ 'contact'] ">Nous contacter</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>