.liensFooter {
    display: flex;
    justify-content: center;
    /*justify-content: space-evenly;*/
    margin-top: 2px;
}

.liensFooter>a {
    margin-right: 20px;
    margin-left: 20px;
}

footer {
    color: white;
    background-color: #00acc1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 65px;
    bottom: 0;
}

.contactus {
    text-decoration: none;
    color: white;
}

.contactus:hover {
    font-weight: bold;
}

.elegance {
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #171F27;
}

.imageElegance {
    max-height: 100%;
    padding-bottom: 10px;
}

.commonFooter {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.copyrightText {
    align-self: center;
}