<div class="containers">
    <div class="container1">
        <h1>Dress Me</h1>
        <h2>Finies les heures perdues devant mon <br> dressing !</h2>
        <div class="lesBoutons">
            <a class="btn" [routerLink]="['monDressing']">Ajouter mes habits au dressing</a>
            <a class="btn" [routerLink]="['maTenue']">Proposes-moi une tenue!</a>
        </div>

    </div>
    <div class="container2">
        <!--<mdb-carousel [isControls]="false" [animation]="'slide'">
            <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).webp" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).webp" alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).webp" alt="Third slide">
            </mdb-carousel-item>
        </mdb-carousel>-->

        <!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img class="d-block w-100" src="./assets/images/imageAcceuil1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/imageAcceuil2.png " alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/imageAcceuil3.png " alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/imageAcceuil4.png " alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/imageAcceuil5.png " alt="Third slide">
                </div>

            </div>
        </div>-->
        <img class="imageAcceuil" src="./assets/images/imageAcceuil1.png " />
    </div>
    <div class="container3">
    </div>
</div>


<!--Commun a toutes les pages -->
<div class="elegance">
    <img class="imageElegance" src="./assets/images/elegance.png " />
</div>
<footer class="page-footer font-small mdb-color pt-4">
    <div class="container text-center text-md-left">
        <div class="row d-flex ">
            <div class="col-md-7 col-lg-8">
                <p class="copyright">© 2020 Copyright:
                    <strong> DressMe</strong>
                </p>
            </div>
            <div class="col-lg-2">
                <div class="tcontactus">
                    <a class="contactus" [routerLink]=" [ 'contact'] ">Nous contacter</a>
                </div>
            </div>
        </div>
    </div>
</footer>