<div class="empty"></div>

<div class="containers">
    <div class="container1">
        <h1>Dress Me</h1>
        <h2>Finies les heures perdues devant mon <br> dressing !</h2>
        <div class="lesBoutons">
            <a class="btn" [routerLink]="['maTenue']">Proposes-moi une tenue!</a>
            <a class="btn" [routerLink]="['ajoutArticle']">Ajouter un article au dressing</a>
        </div>

    </div>
    <div class="container2">
        <img class="imageAcceuil" src="./assets/images/imageAcceuil.png " />
    </div>
    <div class="container3">
    </div>
</div>


<!--Commun a toutes les pages -->
<div class="commonFooter ">
    <div class="elegance ">
        <img class="imageElegance " src="./assets/images/elegance.png " />
    </div>
    <footer class="page-footer font-small mdb-color pt-4 ">
        <p class="copyrightText ">© 2020 Copyright
            <strong> DressMe</strong>
        </p>
    </footer>
</div>