.liensFooter {
    display: flex;
    justify-content: center;
    /*justify-content: space-evenly;*/
    margin-top: 2px;
}

.liensFooter>a {
    margin-right: 20px;
    margin-left: 20px;
}

footer {
    color: white;
    background-color: #00acc1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 65px;
    bottom: 0;
}

.contactus {
    text-decoration: none;
    color: white;
}

.contactus:hover {
    font-weight: bold;
}

.elegance {
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: green
}

.imageElegance {
    max-height: 100%;
    padding-bottom: 10px;
}

.commonFooter {
    bottom: 0;
    width: 100%;
}

.copyrightText {
    align-self: center;
}


/*Partie contenu*/

.contenu {
    background-color: #171F27;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
}

#break {
    flex-basis: 100%;
    height: 0px;
    background-color: aqua;
}

.colvide {
    width: 10%;
    background-color: #171F27;
    height: 15%;
}

.text1 {
    color: white;
    font-size: 19px;
    width: 20%;
    text-decoration: none;
    height: 15%;
}

.text2 {
    font-size: 19px;
    width: 20%;
    height: 15%;
}

.text2 a {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.text1 a,
.text2 a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins Medium';
}

.text1 a:hover,
.text2 a:hover {
    color: #00acc1;
}

.titre h1 {
    font-size: 95px;
    color: white;
    font-family: 'Lucky Dip Caitlin';
}

.titre {
    /*width: 500px;*/
    width: 100%;
    /*background-color: orange;
    */
    display: flex;
    justify-self: center;
    justify-content: center;
    height: 15%;
    cursor: default;
}

.colvide1 {
    height: 10%;
    width: 10%;
    background-color: #171F27;
}

.filtres {
    height: 10%;
    background-color: #171F27;
    width: 80%;
    padding-top: 1.7%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul:first-child {
    padding-left: 0px;
}

ul li {
    color: white;
    cursor: pointer;
    font-family: 'Poppins Medium';
}

ul li:hover {
    color: #00acc1;
}

ul li:active {
    color: #00acc1;
    font-weight: bold;
}

.colvide2 {
    height: 75%;
    /*background-color: yellow;*/
    width: 15%;
    display: flex;
    align-items: center;
}

.flechesRight {
    width: 50%;
    float: left;
    cursor: pointer;
    /*background-color: green;*/
}

.photoSpace {
    background-color: red;
    width: 70%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
    position: relative;
}

.text2 {
    background-color: #171F27;
    font-size: 19px;
    width: 20%;
    height: 15%;
}

.photoArticle {
    width: 23%;
    height: 47.5%;
    margin-right: 2.65%;
    margin-bottom: 2%;
    position: relative;
}

.photoArticleRight {
    width: 23%;
    height: 47.5%;
    margin-bottom: 2%;
    float: right;
    position: relative;
}

.titreFiltres1 {
    display: flex;
    flex-basis: 100%;
    height: 10%;
    width: 100%;
    font-family: 'Poppins Medium';
    justify-items: center;
    color: white;
    justify-content: center;
    width: 100%;
    font-size: larger;
    /*background: fuchsia;*/
    padding-top: 5px;
    align-items: center;
}